.action-button {
  background-color: #3040c4;
  color: #fff;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}

$sm: 1401px;
$lg: 1401px;

@media screen and (min-width: 1401px) {
  .hide_desktop {
    display: none;
  }
}

@media screen and (max-width: 14001px) {
  .hide_mobile {
    display: none;
  }
}
