@import "common.scss";

.headlime {
  width: 100%;
}

.headlime__content {
  margin: 35px 15px 33px 15px;
  z-index: 1;
}

.headlime__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  z-index: 1;
}

.headlime__description {
  margin-top: 24px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  z-index: 1;
}

.headlime__action-btn {
  width: 160px;
}

.head__learn-more-btn {
  background-color: #fff;
  color: #3040c4;
  width: 158px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  margin-top: 15px;
}

.headlime__banner {
  width: 100%;
  margin-bottom: 36px;
}
@media screen and (max-width: $lg) {
  .head__learn-more-btn {
    width: 100%;
  }
  .headlime__action-btn {
    width: 100%;
    background-color: #3040c4;
    color: #fff;

    height: 48px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 2px;
    border: none;
    margin-top: 20px;
  }
}
@media screen and (min-width: $sm) {
  .headlime__action-btn {
    width: 160px;

    background-color: #3040c4;
    color: #fff;
    width: 160px;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 2px;
    border: none;
  }
  .head__learn-more-btn {
    margin-left: 10px;
    margin-top: 0;
  }
  .headlime {
    display: flex;
    position: relative;
    width: 1140px;
    margin: auto;
    margin-top: 84px;
    padding-bottom: 77px;
  }
  .headlime__content {
    position: absolute;
    margin: 0;
    z-index: 1;
  }
  .headlime__title {
    width: 754px;
    height: 165px;
    font-weight: bold;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    z-index: 1;
    margin: 0;
  }
  .headlime__description {
    margin: 34px;
    margin-bottom: 0;
    height: 102px;
    width: 456px;
    font-size: 24px;
    line-height: 34px;
    z-index: 1;
    margin-left: 0;
  }
  .headlime__action {
    display: flex;
    margin-top: 58px;
  }

  .headlime__banner {
    position: relative;
    right: -105px;
    top: 0;
    width: 796px;
    height: 448px;
    margin-left: auto;
  }
}
